name: Generate Calendars

on:
  schedule:
    - cron: '0 0 1 * *' # At 00:00 on day-of-month 1.
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: true

      - name: Generate
        run: pnpm generate

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: update calendars'
          add: 'data/*'
